*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F8F9;
}

header{
  background-color: white;
  padding: 20px;
}


/* logo  */
.logo {
  display: inline-block;
  width: 80px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  vertical-align: middle;
  margin-left: 20px;
}


/* main  */
.container{
  background-color: white;
  width: 700px;
  height: 700px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}
/* riga  */
#riga{
  margin-top: 10px;
  border-top: 2px solid green;
}

/* pulsanti  */
.pulsanti{
  padding: 25px 45px;
}

.pulsante {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
}

.task{
  background-color: #0086df;
  color: white;
  border: 1px solid #0086df;
}

.section{
  background-color:white;
  border: 1px solid grey;
  color: grey;
}


/* lista  */
ul{
  list-style: none;
  font-size: 16px;
  margin-top: 10px;
}

.lista li{
  margin: 30px 40px;
}

.special{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
  color: red;
  line-height: 15px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

.check2{
  border: 1px solid red;
  color: red; 
}

.check{
  border: 1px solid #2cc6ab;
  color: #2cc6ab; 
}


.special1{
  color: white;
  font-size: 10px;
  border-radius: 10px;
  padding: 6px;
}

.azzurro{
  background-color: #0086df;
}

.viola{
  background-color: #BA55D3;
}

.verde{
  background-color: #3CB371;
}

.arancione{
  background-color: #F4A460;
}

.rosa{
  background-color: palevioletred;
}

.verde2{
  background-color: #9ACD32;
}