*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #f6f8f9;
}

/* header  */
/* logo  */
#logo{
  vertical-align: middle;
  padding-left: 20px;
}

#logo-txt{
  display: inline;
  vertical-align: middle;
  font-weight: bold;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.div-header{
  height: 70px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}


/* main  */
.container{
  background-color: white;
  width: 700px;
  height: 630px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}
/* riga  */
#riga{
  margin-top: 10px;
  border-top: 2px solid green;
}

/* pulsanti  */
.pulsanti{
  padding: 25px 45px;
}

.pulsante {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
}

.task{
  background-color: #0086df;
  color: white;
  border: 1px solid #0086df;
}

.section{
  background-color:white;
  border: 1px solid grey;
  color: grey;
}


/* lista  */
ul{
  list-style: none;
}

.lista li{
  margin: 30px 40px;
}

.special{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
  color: red;
  line-height: 15px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

.check2{
  border: 1px solid red;
  color: red; 
}

.check{
  border: 1px solid #2cc6ab;
  color: #2cc6ab; 
}


.special1{
  color: white;
  font-size: 10px;
  border-radius: 10px;
  padding: 6px;
}

.azzurro{
  background-color: #0086df;
}

.viola{
  background-color: #BA55D3;
}

.verde{
  background-color: #3CB371;
}

.arancione{
  background-color: #F4A460;
}

.rosa{
  background-color: palevioletred;
}

.verde2{
  background-color: #9ACD32;
}