*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #f6f8f9;
}

/* header  */
/* logo  */
#logo{
  vertical-align: middle;
  padding-left: 20px;
}

#logo-txt{
  display: inline;
  vertical-align: middle;
  font-weight: bold;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.div-header{
  height: 70px;
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 30px;
}


/* main  */
.container{
  background-color: red;
  width: 700px;
  height: 630px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}
/* riga  */
#riga{
  margin-top: 10px;
  border-top: 2px solid green;
}

/* pulsanti  */
.pulsanti{
  padding: 20px 40px;
}

.pulsante {
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
}

ul{
  list-style: none;
}



